* {
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url(./images/super-sale-fond.png);
    background-size: cover;
}

.promo {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 108px;
    left: 316px;
    color:#6e42db;
}

.peroff {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.peroff span  { 
    display: block;
    font-size: 25px;
    font-family: 'akrobatsemibold';
    line-height: 1;
}

.number {
    font-family: 'akrobatblack';
    font-size: 68px;
    line-height: .8;
    margin-right: 2px;
    text-shadow: 1px 2px 5px rgb(172, 160, 0);
}

.texte {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 107px;
    font-family: 'akrobatblack';
    font-size: 40px; 
    color:rgb(255, 255, 255); 
    text-shadow: 1px 2px 5px #999;
}


.freepik {
    text-decoration: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    font-family: sans-serif;
    color: #999;
    font-size: 14px;
}

.anim {
    animation: boum 1s infinite ;
}



@keyframes boum {

    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1)
    }
}